<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Persona</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/estilos_formulario.css}" />
</head>
<body>

<h1 class="ok">Editar Datos de la Persona</h1>

<form th:action="@{/actualizar}" th:object="${persona}" method="post" id="formulario">
    <fieldset id="formulario2">
        <legend>Datos del usuario</legend>
        <input type="hidden" th:field="*{id}" />
        <table>
            <tr>
                <td><label>Nombre: </label></td>
                <td><input type="text" placeholder="Ingrese su nombre" th:field="*{nombre}" required="required"/></td>
            </tr>
            <tr>
                <td><label>Apellido: </label></td>
                <td><input type="text" placeholder="Ingrese su apellido" th:field="*{apellido}" required="required"/></td>
            </tr>
            <tr>
                <td><label>Correo: </label></td>
                <td><input type="email" placeholder="Ingrese su correo" th:field="*{correo}" required="required"/></td>
            </tr>
            <tr>
                <td><label>Edad: </label></td>
                <td><input type="number" placeholder="Ingrese su edad" th:field="*{edad}" required="required" min="0"/></td>
            </tr>
            <tr>
                <td><label>¿Estás estudiando?: </label></td>
                <td><input type="checkbox" th:field="*{estudioso}"/></td>
            </tr>
            <tr>
                <td><button type="submit">Actualizar</button></td>
            </tr>
        </table>
    </fieldset>
</form>

</body>
</html>